#new_game {
  .board {
    background: rgb(2, 102, 32);
    .row {
      width: 480px;
      height: 60px;
      display: flex;
      flex-wrap: wrap;
      .cell {
        box-sizing: border-box;
        width: 60px;
        height: 60px;
        border: solid 1px #000;
        display: flex;
        align-items: center;
        justify-content: center;
        .pieces0 {
          box-sizing: border-box;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: #000;
          border: 1px solid #000;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .pieces1 {
          box-sizing: border-box;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: rgb(211, 211, 211);
          border: 1px solid rgb(211, 211, 211);
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .hint0 {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: rgba(0, 0, 0, 0.5);
          animation: hint 0.5s linear infinite;
          display: flex;
          align-items: center;
          justify-content: center;
          @keyframes hint {
            0%,
            100% {
              opacity: 0;
            }

            50% {
              opacity: 1;
            }
          }
        }

        .hint1 {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: rgba(211, 211, 211, 0.5);
          animation: hint 0.5s linear infinite;
          display: flex;
          align-items: center;
          justify-content: center;
          @keyframes hint {
            0%,
            100% {
              opacity: 0;
            }

            50% {
              opacity: 1;
            }
          }
        }

        @media screen and (max-height: 590px) {
          .pieces0 {
            width: 40px;
            height: 40px;
          }
          .pieces1 {
            width: 40px;
            height: 40px;
          }
          .hint0 {
            width: 40px;
            height: 40px;
          }

          .hint1 {
            width: 40px;
            height: 40px;
          }
        }
        @media screen and (max-width: 1000px) {
          .pieces0 {
            width: 40px;
            height: 40px;
          }
          .pieces1 {
            width: 40px;
            height: 40px;
          }
          .hint0 {
            width: 40px;
            height: 40px;
          }

          .hint1 {
            width: 40px;
            height: 40px;
          }
        }
        @media screen and (max-width: 410px) {
          .pieces0 {
            width: 30px;
            height: 30px;
          }
          .pieces1 {
            width: 30px;
            height: 30px;
          }
          .hint0 {
            width: 30px;
            height: 30px;
          }

          .hint1 {
            width: 30px;
            height: 30px;
          }
        }
      }
      @media screen and (max-height: 590px) {
        .cell {
          width: 50px;
          height: 50px;
        }
      }
      @media screen and (max-width: 1000px) {
        .cell {
          width: 50px;
          height: 50px;
        }
      }
      @media screen and (max-width: 410px) {
        .cell {
          width: 40px;
          height: 40px;
        }
      }
    }

    @media screen and (max-height: 590px) {
      .row {
        width: 400px;
        height: 50px;
      }
    }
    @media screen and (max-width: 1000px) {
      .row {
        width: 400px;
        height: 50px;
      }
    }
    @media screen and (max-width: 410px) {
      .row {
        width: 320px;
        height: 40px;
      }
    }
  }
}
