html {
  height: 100%;
}

#game_chat {
  margin: 0;
  padding: 10px;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  .header{
    width: 100%;
    height: 180px;
    // background-color: #fff8;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .chat-str{
    color: white;
    font-size: 53px;
    margin: 0;
  }
  .chat {
    // width: 400px;
    height: calc(100% - 180px);
    overflow-y: scroll;
  }



  //ボタン送信ボタンのｃｓｓ
 .abc{
  box-shadow: 3px 4px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:12px;
	padding:5px 23px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  position: absolute;
  top: 18%;
  right: 10%;

 }
 
 .abc:hover{
  background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
 }


 //名前テキストボックス変更
 
 .font{
  position: relative;
	width: 70%;
  margin: 20px 3%;
  color: white;
  display: flex;
  justify-content: space-between;
 }

 .font input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: 1px solid #ffffff;
	box-shadow: 1px 1px 2px 0 #707070 inset;
	border-radius: 4px;
}
.font input[type='text'] {
  outline: none;
	box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

.bubble{
    background-color: #F2F2F2;
    border-radius: 10px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 5px 10px;
    position: relative;
    vertical-align: top;
    font-size:12px;
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 6px;
    position: absolute;
    top: 21px;
    bottom:7px;
    transform:             rotate( 172.5deg ) skew( -980deg );
        -moz-transform:    rotate( 172.5deg ) skew( -980deg );
        -ms-transform:     rotate( 172.5deg ) skew( -980deg );
        -o-transform:      rotate( 172.5deg ) skew( -980deg );
        -webkit-transform: rotate( 172.5deg ) skew( -980deg );
    width:  35px;
    float: left;
    margin-left: -13px;

  
}
.me {
    float: left;   
    margin: 5px 45px 5px 20px;         
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;           
}

.you {
    float: right;    
    margin: 5px 20px 5px 45px;         
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;    
}

.image{
  margin-left: 0px 0px 0px 30px;
  width: 40px;
  height: 38px;
}

.profile{
  height: 100%;
  display: flex;
}
.left {
  float: left;
}
.right {
  float: right;
  margin-left: 20px;
  width: 75%;
}
}