#new_game {
  .board {
    background: rgb(2, 102, 32);
    .row {
      width: 480px;
      height: 60px;
      display: flex;
      flex-wrap: wrap;
      .grid {
        box-sizing: border-box;
        width: 60px;
        height: 60px;
        border: solid 1px #000;
        display: flex;
        align-items: center;
        justify-content: center;

        .pieces {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          box-sizing: border-box;
          transform-style: preserve-3d;
          transition: 1s;

          .pieces0,
          .pieces1 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }

          .pieces0 {
            background: #000;
          }

          .pieces1 {
            background: rgb(211, 211, 211);
            transform: rotateY(180deg);
          }
        }

        .hint0 {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: rgba(0, 0, 0, 0.5);
          animation: hint 0.5s linear infinite;
          display: flex;
          align-items: center;
          justify-content: center;
          @keyframes hint {
            0%,
            100% {
              opacity: 0;
            }

            50% {
              opacity: 1;
            }
          }
        }

        .hint1 {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: rgba(211, 211, 211, 0.5);
          animation: hint 0.5s linear infinite;
          display: flex;
          align-items: center;
          justify-content: center;
          @keyframes hint {
            0%,
            100% {
              opacity: 0;
            }

            50% {
              opacity: 1;
            }
          }
        }

        @media screen and (max-height: 590px) {
          .pieces0 {
            width: 40px;
            height: 40px;
          }
          .pieces1 {
            width: 40px;
            height: 40px;
          }
          .hint0 {
            width: 40px;
            height: 40px;
          }

          .hint1 {
            width: 40px;
            height: 40px;
          }
        }
        @media screen and (max-width: 700px) {
          .pieces {
            width: 40px;
            height: 40px;
          }
          .hint0 {
            width: 40px;
            height: 40px;
          }

          .hint1 {
            width: 40px;
            height: 40px;
          }
        }
        @media screen and (max-width: 410px) {
          .pieces {
            width: 30px;
            height: 30px;
          }
          .hint0 {
            width: 30px;
            height: 30px;
          }

          .hint1 {
            width: 30px;
            height: 30px;
          }
        }
      }
      @media screen and (max-height: 590px) {
        .grid {
          width: 50px;
          height: 50px;
        }
      }
      @media screen and (max-width: 700px) {
        .grid {
          width: 50px;
          height: 50px;
        }
      }
      @media screen and (max-width: 410px) {
        .grid {
          width: 40px;
          height: 40px;
        }
      }
    }

    @media screen and (max-height: 590px) {
      .row {
        width: 400px;
        height: 50px;
      }
    }
    @media screen and (max-width: 700px) {
      .row {
        width: 400px;
        height: 50px;
      }
    }
    @media screen and (max-width: 410px) {
      .row {
        width: 320px;
        height: 40px;
      }
    }
  }
}
