@charset "utf-8";

@import "game_board";
@import "game_chat";

@import "game_info";

#new_game {
  background: url("../img/a.jpeg");
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;

  .board {
    position: absolute;
    top: 17%;
    left: 34.5%;
    transform: translate(-50%);
    width: 480px;
    height: 480px;
  }
  .chat {
    margin: 10px;
    position: absolute;
    right: 0;
    width: 30%;
    height: 66%;
    top: 30%;
    background-image: url("../img/e.jpg");
  }
  .info {
    margin: 10px;
    margin-right: 6px;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    width: 30%;
    height: 29%;
    background-image: url("../img/e.jpg");
  }
  .result {
    .win {
      display: none;
      position: absolute;
      font-size: 56px;
      padding-top: 315px;
      padding-left: 205px;
      color: orange;
    }
    .lose {
      display: none;
      position: absolute;
      font-size: 56px;
      padding-top: 315px;
      padding-left: 205px;
      color: orange;
    }
  }

  .result_board {
    position: absolute;
    width: 480px;
    height: 240px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    top: 38%;
    left: 10%;
    p {
      margin: 16% 0 0 0;
      color: red;
      font-size: 52px;
    }
  }
}
.cover {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  .retry {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
@media screen and (max-height: 550px) {
  #new_game {
    .board {
      position: absolute;
      top: 5%;
      left: 35%;
    }
  }
}

@media screen and (max-height: 590px) {
  #new_game {
    .board {
      position: absolute;
      top: 8%;
      left: 35%;
      width: 400px;
      height: 400px;
    }
  }
}
@media screen and (max-width: 900px) {
  #new_game {
    .chat {
      margin: 5px;
      height: 98%;
    }
    .info {
      margin: 5px;
    }
  }
}
@media screen and (max-width: 700px) {
  #new_game {
    .board {
      position: absolute;
      top: 20%;
      left: 50%;
      width: 400px;
      height: 400px;
      margin-top: 90px;
    }
    .chat {
      margin-left: 0;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      width: 98vw;
      height: 18%;
      margin-top: 435px;
    }
    .info {
      margin-left: 0;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      width: 98vw;
      height: 27%;
    }
    .result {
      .win {
        position: absolute;
        font-size: 30px;
        padding-top: 366px;
        padding-left: 31px;
        color: orange;
      }
      .lose {
        position: absolute;
        font-size: 30px;
        padding-top: 366px;
        padding-left: 31px;
        color: orange;
      }
    }
  }
}
@media screen and (max-width: 410px) {
  #new_game {
    .board {
      position: absolute;
      top: 0%;
      transform: translate(-50%, 50%);
      width: 320px;
      height: 320px;
      margin-top: 87px;
    }
  }
}

@media screen and (max-width: 400px) {
  #new_game {
    .info .player2 p {
      font-size: 30px;
      margin-top: 12px;
    }
    .info .player1 p {
      font-size: 30px;
      margin-top: 12px;
    }
    .result {
      .win {
        position: absolute;
        font-size: 22px;
        padding-top: 346px;
        padding-left: 40px;
        color: orange;
      }
      .lose {
        position: absolute;
        font-size: 22px;
        padding-top: 346px;
        padding-left: 40px;
        color: orange;
      }
    }
  }
}
