#new_game {
  .info {
    border: 2px solid #797979;
    .player1 {
      margin: 10px;
      display: flex;
      position: relative;
      .black {
        box-sizing: border-box;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #000;
        border: 1px solid #000;
      }
      p {
        margin: 0;
        position: absolute;
        top: -13%;
        left: 20%;
        font-size: 40px;
        color: white;
        text-transform: uppercase;
      }
      .pieces_num {
        position: absolute;
        top: -13%;
        left: 70%;
        font-size: 40px;
        color: brown;
      }
    }
    .player2 {
      margin: 10px;
      display: flex;
      position: relative;
      .white {
        box-sizing: border-box;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: rgb(211, 211, 211);
        border: 1px solid rgb(211, 211, 211);
      }
      p {
        margin: 0;
        position: absolute;
        top: -13%;
        left: 20%;
        font-size: 40px;
        color: white;
        text-transform: uppercase;
      }
      .pieces_num {
        position: absolute;
        top: -13%;
        left: 70%;
        font-size: 40px;
        color: brown;
      }
    }
    .time_limit {
      position: absolute;
      top: 72%;
      left: 50%;
      transform: translate(-50%);
      font-size: 30px;
      color: brown;
    }
  }
}
