#top_1 {
  .dai{
    display: flex;
  }
  
  .waku1{
    padding: 40px 10px 0;
    margin-left: 14.3px;
    text-align: center;
  }
  
  .wakuname{
    display: flex;
  }
  
  .komakuro{
    font-size: 50px;
  }

  .namewaku{
    display: flex;
  }
  
  .name1{
    padding-left: 20px;
    padding-top: 7px;
  }
  
  .boder1{
    border: solid 2px;
  }
  
  .vs{
  font-size: 20px;
  }
  
  .waku2{
    padding: 40px 10px 0;
    margin-left: 14.3px;
    text-align: center;
  }
  
  .white{

  }
  
  .name2{
    padding-left: 20px;
    padding-top: 7px;
  
  }
  
  .sente{
    font-size: 20px;
  }
  
  .gote{
    font-size: 20px;
  }
}

