#ranking{
  
  .maste-top{
    background-image:url("../img/ranking.png");
    background-repeat: no-repeat;
    background-size: contain;
    width:100%;                              /* 横幅のサイズを指定    */
    height:553px;  
    background-position:center bottom; 
    position: relative;
  
  }
  
      //デザイン後ろの背景
    .maste-box {
        position: relative;
        background-color: #fff;
        background: repeating-linear-gradient(-45deg, #edf5f4, #edf5f4 10px, #f6faf9 0, #f6faf9 20px);
        padding: 1em;
        width: 500px;
        margin: 0 auto;;
        
      }
      .maste-tape{
        position: absolute;
        top: 0.25em;
        background-color: rgba(100,100,100,.3);
        border-left:4px solid #8BC6CA;
        padding: 0.25em 2em;
        color: #454545;
        transform: rotate(-3deg);
      }
      .maste-box p {
        color: #454545;
        padding: 15px 10px 10px 10px;
      }
    //終了///////
  //   .maste-top span{
  //     display: -webkit-flex;
  //  display: flex;
  //  flex-direction: column;
  
  //   }
    .suuziwaku{
      padding-top: 134px;
      padding-left: 148px;        
        
    }
    .suuzi{
      font-size: 20px;
      margin-bottom: 9px;
    }
    span{
      font-size: 16px;
    }
}