#roomsearch_3{

  background: url('../img/a.jpeg');

  h1{color:white}
  
  .room {
    float: left;
    padding: 10px;
    width: 300px;
    box-sizing: border-box;
    border-left: double 7px #948e8d;
    background-color: #f9f9f9;
    box-shadow: 3px 1px 2px #ccc;
  }

  .room2 {
    padding: 10px;
    font-size: 13px;
    width: 300px;
    box-sizing: border-box;
    border-left: double 7px #D83526;
    background-color: #f9f9f9;
    box-shadow: 3px 1px 2px #ccc;
  }

  .makes {
    box-shadow: inset 0px 0px 6px 0px #FFFFFF;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #F9F9F9), to(#E9E9E9));
    background: linear-gradient(to bottom, #F9F9F9 5%, #E9E9E9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #DCDCDC;
    cursor: pointer;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #FFFFFF;
    margin-left: 15px;
  }

  .makes:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #E9E9E9), to(#F9F9F9));
    background: linear-gradient(to bottom, #E9E9E9 5%, #F9F9F9 100%);
    background-color: #e9e9e9;
  }

  .makes:active {
    position: relative;
    margin-top: 1px;
  }

  .row {
    display: -webkit-box;
    display: flex;
    margin-bottom: 10px;
  }

  .myButton6 {
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    // background:linear-gradient(to bottom, #000 5%, #000 100%);
    background-color:#000;
    border-radius:6px;
    border:1px solid #d83526;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:9px 18px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
    margin-left: 10px;
  }
  .myButton6:hover {
    background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
    background-color:#e4685d;
  }
  .myButton6:active {
    position:relative;
    top:1px;
  }
  

   .black {
    background:linear-gradient(to bottom, #000 5%, #000 100%);
     color:white;
   }
  .white {
    background:linear-gradient(to bottom, white 5%, white 100%);
     color:black;
   }
   .watching{
    background:linear-gradient(to bottom, #A52A2A 5%, #A52A2A  100%);
    color:#BDB76B
   }

  .container {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
  }

   .roomContainer{
     height: 270px;
     width: 650px;
     overflow: auto;
     border: 1px solid;
   }
   .roomContainer::-webkit-scrollbar {
    width: 10px;
}
/*スクロールバーの背景色・角丸指定*/
.roomContainer::-webkit-scrollbar-track {
  border-radius: 10px;
	background: #f2f2f2;
}
/*スクロールバーの色・角丸指定*/
.roomContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
	background:#D2B887;
}
  

  .kuro {
    padding: 20px;
    font-size: 13px;
    width: 50px;
    box-sizing: border-box;
    border-left: double 7px #D83526;
    background-color: #f9f9f9;
    box-shadow: 3px 1px 2px #ccc;
  } 
  @media screen and (max-width: 600px) {
  }
}