@charset "utf-8";

@import "common";
@import "roomsearch";
@import "game";
@import "index";
@import "members";

#navi {
  font-size: 12px;
  position: fixed;
  top: 10px;
  left: 0px;
  a {
    padding: 5px;
    background-color: #fffd;
    color: #000;
    text-decoration: none;
    &:hover {
      color: #fff;
      background-color: #000d;
    }
  }
}
