@charset "utf-8";

@import "akifumi";

@import "kouhei";

@import "reo";

@import "shoya";
@import "game";

#navi {
  font-size: 12px;
  position: fixed;
  top: 0;
  background-color: #0003;
  padding: 10px;
}
